@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,400;1,500;1,700;1,800&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

.common-orange {
  color: #ff5400;
}

.primary-header {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 1rem;
}

.text-color-black {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.text-color-ash {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

/* Nav Section  */

.nav-section {
  width: 90%;
  margin: 0 auto;
  display: flex;
}

.nav-icon {
  display: flex;
  align-items: center;
  width: 50%;
}

.icon {
  width: 48px;
  height: 56.008px;
  margin-right: 20px;
}

.blog-name {
  color: #131318;
  font-size: 36px;
  font-weight: 800;
}

/* Menu Bar  Start*/
.menu-bar {
  width: 50%;
}

.menu-bar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.menu-bar a {
  text-decoration: none;
}

.menu-bar li {
  list-style: none;
}

.nav-text {
  color: #424247;
  font-size: 18px;
  font-weight: 400;
}

.home-text-size {
  font-size: 18px;
  font-weight: 400;
}

.menu-icon {
  display: none;
}

.menu-icon i {
  font-size: 20px;
  color: #131318;
}

/* Menu Bar  End*/

/* banner section start */
.banner-section {
  width: 90%;
  margin: 0 auto;
  height: 100%;
  min-height: 5rem;
}

.banner-section {
  border-radius: 16px;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/rectangle-2.png");
  background-size: cover;
  height: 37rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-container {
  text-align: center;
}

.banner-container .banner-title {
  color: #fff;
  font-size: 4rem;
  font-weight: 800;
}

.banner-container .banner-description {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6rem;
  margin-top: 1rem;
}

.banner-form {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
}

.banner-form input {
  width: 10.8rem;
  height: 3.25rem;
  border-radius: 0.5rem;
}

.banner-form .input-style {
  color: rgba(19, 19, 24, 0.5);
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  margin: 10px;
}

.banner-form .form-when {
  position: relative;
}

.banner-form .form-icon-when {
  font-size: 2.75rem;
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  top: -0.8rem;
  left: 10rem;
  color: red;
}

.banner-form .form-icon-when {
  color: #131318;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: -0.1rem;
  left: 9rem;
  background-color: white;
}
.banner-form .form-icon-select {
  color: #131318;

  position: absolute;
  top: -0.1rem;
  left: 9rem;
  background-color: white;
}

.banner-form {
  margin-top: 2rem;
}

.banner-form .select {
  position: relative;
}

.banner-form .select .form-icon-when2 {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: -0.15rem;
  left: 9rem;
}
.banner-form .submit-form .search-icon {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 29.5rem;
  left: 56rem;
  color: white;
}

/* banner section end */

/* Tour Section start */

.tour {
  width: 90%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.tour-container {
  margin-top: 4rem;
  width: 49%;
  min-height: 8rem;
}

.tour-img {
  margin: 4rem 0rem;
  width: 49%;
  min-height: 8rem;
  display: flex;
  justify-content: center;
}

.tour-img img{
  width: 100%;
  height: 100%;
}

.tour-container p {
  margin-bottom: 1rem;
}

.tour-container div {
  margin-bottom: 1rem;
  padding: 1rem;
}

.btn-primary {
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  padding: 0.9rem 2.15rem;
  border: none;
}

/* Tour Section end */
