@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,400;1,500;1,700;1,800&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

.common-orange {
  color: #ff5400;
}

/* Nav Section  */

.nav-section {
  width: 90%;
  margin: 0 auto;
  display: flex;
}

.nav-icon {
  display: flex;
  align-items: center;
  width: 50%;
}

.icon {
  width: 48px;
  height: 56.008px;
  margin-right: 20px;
}

.blog-name {
  color: #131318;
  font-size: 36px;
  font-weight: 800;
}

/* Menu Bar  Start*/
.menu-bar {
  width: 50%;
}

.menu-bar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.menu-bar a {
  text-decoration: none;
}

.menu-bar li {
  list-style: none;
}

.nav-text {
  color: #424247;
  font-size: 18px;
  font-weight: 400;
}

.home-text-size {
  font-size: 18px;
  font-weight: 400;
}

.menu-icon {
  display: none;
}

.menu-icon i {
  font-size: 20px;
  color: #131318;
}

/* Menu Bar  End*/

/* banner section start */
.banner-section {
  width: 90%;
  margin: 0 auto;
}

.banner-section {
  border-radius: 16px;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/rectangle-2.png");
  background-size: cover;
  height: 30rem;
  margin-top: 1.5rem;
}

.banner-container {
  text-align: center;
}

.banner-container .banner-title {
  color: #fff;
  font-size: 4rem;
  font-weight: 800;
}

.banner-container .banner-description {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6rem;
}

.banner-form {
  text-align: center;
  width: 90%;
  border: 2px solid black;
  margin: 0 auto;
}

.banner-form input {
  width: 174px;
  height: 52px;
  border-radius: 0.5rem;
}

.banner-form .input-style {
  color: rgba(19, 19, 24, 0.5);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 10px;
}

.banner-form .form-when{
  position: relative;
}

.banner-form .form-icon-when{
  font-size: 44px;
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  top: -0.8rem;
  left: 10rem;
  color: red;
}

.banner-form .form-icon-when{
  color: #131318;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: -.10rem;
  left: 9rem;
  background-color: white;
}
.banner-form .form-icon-select{
  color: #131318;

  position: absolute;
  top: -.10rem;
  left: 9rem;
  background-color: white;
}


.banner-form .select{
  position: relative;
}

.banner-form .select .form-icon-when2{
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: -.15rem;
  left: 9rem;
}

/* banner section end */
